# Core functionality - changes here should be rare!
/src/app.py                   @PrynsTag
/src/backend/database.py      @PrynsTag
/src/backend/routers/auth.py  @PrynsTag

# The frontend will need refactored soon to be more object oriented.
/src/static/   @PrynsTag